<footer class="footer">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-sm-12 ">
        <div class="footer-widget">
          <a class="mb-4 d-inline-block" href="{{ .Site.BaseURL }}">
            {{ if .Site.Params.logo }}
            <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
            {{ else }}
            <h2 class="mb-0 text-dark">{{ .Site.Title }}</h2>
            {{ end }}
          </a>
          <p class="mb-4">{{ .Site.Params.footer.content | markdownify }}</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="subscribe">
          <h4 class="mb-4">Uzyskaj do 20% rabatu</h4>
          <script>var fmFCFgvi71ah18g=function(e){if(e.data.type==='resize'){document.getElementById('fm-fc-f-gvi71ah18g').style.minHeight=e.data.size+'px'}};window.addEventListener?addEventListener('message',fmFCFgvi71ah18g,!1):attachEvent('onmessage',fmFCFgvi71ah18g);
          </script><iframe id="fm-fc-f-gvi71ah18g" src="https://forms.freshmail.io/f/htceubeto0/gvi71ah18g/index.html" frameborder="0" marginheight="0" marginwidth="0" width="100%" style="min-height: 606px"></iframe>          
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row footer-btm mt-5 pt-4 border-top">
      <div class="col-lg-6">
        <!-- Copyright -->
        <p class="footer-copy">
          {{ .Site.Params.copyright | markdownify }}
        </p>
      </div>
      <div class="col-lg-6">
        <div class="footer-btm-menu text-lg-right">
          <img src="{{`images/about/cards-3.png` | relURL }}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

<script src="https://www.googleoptimize.com/optimize.js?id=OPT-P2PZZ7G"></script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.googleAnalitycsID }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}